@font-face {
  font-family: iransans-regular;
  src: url(/fonts/iransans-regular.woff);
}
@font-face {
  font-family: iransans-bold;
  src: url(/fonts/iransans-bold.woff);
}
@font-face {
  font-family: B NAZANIN;
  src: url(/fonts/B-NAZANIN.TTF);
}
.ir-r {
  font-family: iransans-regular;
}
.ir-b {
  font-family: iransans-bold;
}
